<!DOCTYPE html>
<html>
<head>
    <title>Crowd Density Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Live Crowd Density (5G Powered)</h1>
    <p>Blue = Low | Yellow = Medium | Red = High</p>
    <div id="map" style="height: 500px;"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>